*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-br {
  display: none;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    display: block;
  }
}

.tablet-br {
  display: none;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    display: block;
  }
}

.tablet-desktop-br {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
