*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-content: center;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $text-font;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray-text-4;
  background-color: $site-bg;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    overflow-x: hidden;
  }
}

.primary-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: $title-font;
  line-height: 20px;
  color: $light-text;
  text-transform: uppercase;
  background-color: $primary-decoration-color;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($light-text, 0.3);
    background-color: #5eaa2f;
  }
}

.prime-title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
  }
}

.catalog-section-title {
  position: relative;
  width: fit-content;
  font-size: 24px;
  line-height: 100%;
  color: $dark-text;
  background-color: $site-bg;
  box-shadow: -40px 0 0 0 $site-bg, 40px 0 0 0 $site-bg;

  @media screen and (min-width: $tablet-width) {
    font-size: 32px;
    box-shadow: -40px 0 0 0 $site-bg, 40px 0 0 0 $site-bg;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.catalog-section-title::before {
  position: absolute;
  top: 9px;
  right: 0;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 2px;
  content: "";
  background-color: $primary-decoration-color;
  box-shadow: 100vw 0 0 0 $primary-decoration-color;

  @media screen and (min-width: $tablet-width) {
    top: 13px;
  }

  @media screen and (min-width: $desktop-width) {
    top: 17px;
  }
}

.mobile-br {
  display: none;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    display: block;
  }
}

.tablet-br {
  display: none;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    display: block;
  }
}

.tablet-desktop-br {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
