$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$dark-text: #000000;
$light-text: #ffffff;
$dark-gray-text-2: #222222;
$dark-gray-text-4: #444444;

$title-font: "Oswald", "Lato", "Arial", sans-serif;
$text-font: "Lato", "Arial", sans-serif;

$site-bg: #ffffff;
$site-secondary-bg: #f2f2f2;
$primary-decoration-color: #68b738;
