.address {
  position: relative;
}

.address__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 26px 20px;

  @media screen and (min-width: 440px) {
    grid-template-columns: 163px 163px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 61px 70px;
  }

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    padding-right: 79px;
    padding-left: 79px;
    background-color: $site-bg;
  }
}

.address__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
  font-style: normal;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    text-align: right;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 6px;
  }
}

.address__title {
  margin: 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: -0.5px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__map {
  display: block;
  width: 100vw;
  background-image:
    image-set(
      url("../../images/common/map-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/common/map-mobile@1x.png") 1x type("image/png")
    );
  background-size: 320px 362px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  @media (min-resolution: 2dppx) {
    background-image:
      image-set(
        url("../../images/common/map-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/common/map-mobile@2x.png") 2x type("image/png")
      );
  }

  @media screen and (min-width: $tablet-width) {
    height: 400px;
    background-image:
      image-set(
        url("../../images/common/map-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/common/map-tablet@1x.png") 1x type("image/png")
      );
    background-size: 768px 400px;
  }

  @media (min-resolution: 2dppx) and (min-width: $tablet-width) {
    background-image:
      image-set(
        url("../../images/common/map-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/common/map-tablet@2x.png") 2x type("image/png")
      );
  }

  @media screen and (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/common/map-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/common/map-desktop@1x.png") 1x type("image/png")
      );
    background-size: 1440px 400px;
  }

  @media (min-resolution: 2dppx) and (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/common/map-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/common/map-desktop@2x.png") 2x type("image/png")
      );
  }
}
