.address {
  position: relative;
}

.address__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 26px 20px;

  @media screen and (min-width: 440px) {
    grid-template-columns: 163px 163px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 61px 70px;
  }

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 3;
    width: 565px;
    padding-right: 79px;
    padding-left: 79px;
    background-color: $site-bg;
  }
}

.address__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
  font-style: normal;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    text-align: right;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 6px;
  }
}

.address__title {
  margin: 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__map {
  position: relative;
  width: 100vw;
  background-color: $site-secondary-bg;
}

.address__image {
  display: block;
  margin: 0 auto;
}

.address__image img {
  display: block;
  margin: 0 auto;
}

.address__iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100vw;
  border: none;

  @media screen and (min-width: $tablet-width) {
    height: 400px;
  }

  @media screen and (min-width: $desktop-width) {
    top: 0;
  }
}

.address__iframe--nojs {
  display: none;
}
