.gift {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  padding: 57px 42px 43px;
  background-image:
    linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
    image-set(
      url("../../images/catalog/gift-background-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/catalog/gift-background-mobile@1x.jpg") 1x type("image/jpg")
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/catalog/gift-background-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/catalog/gift-background-mobile@2x.jpg") 2x type("image/jpg")
      );
  }

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/catalog/gift-background-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/catalog/gift-background-tablet@1x.jpg") 1x type("image/jpg")
      );
  }

  @media (min-resolution: 2dppx) and (min-width: $tablet-width) {
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/catalog/gift-background-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/catalog/gift-background-tablet@2x.jpg") 2x type("image/jpg")
      );
  }

  @media screen and (min-width: $desktop-width) {
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/catalog/gift-background-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/catalog/gift-background-desktop@1x.jpg") 1x type("image/jpg")
      );
  }

  @media (min-resolution: 2dppx) and (min-width: $desktop-width) {
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/catalog/gift-background-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/catalog/gift-background-desktop@2x.jpg") 2x type("image/jpg")
      );
  }

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    grid-template-columns: 1fr 1fr;
  }
}

.gift__icon {
  width: 78px;
  height: 80px;
  margin: -1px auto 0;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    margin-top: 2px;
    margin-right: 172px;
  }
}

.gift__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $light-text;
  text-align: center;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    margin-top: 14px;
    margin-left: 44px;
    text-align: start;
  }
}
