.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hero-title"
    "hero-subtitle"
    "hero-image"
    "hero-button";
  margin: 0 auto;
  padding: 27px 20px 20px;
  font-family: $title-font;
  color: $light-text;
  text-align: center;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    position: relative;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 65px 30px 0;
    color: $dark-text;
    background-image: none;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template: auto auto 1fr / 1fr 1fr;
    grid-template-areas:
      "hero-title    hero-image"
      "hero-subtitle hero-image"
      "hero-button   hero-image";
    max-width: 1220px;
    margin-bottom: 134px;
    padding-top: 30px;
    color: $dark-text;
  }
}

.hero::before {
  @media screen and (max-width: calc($tablet-width - 1px)) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 302px;
    content: "";
    background-color: #515056;
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/index/hero-background-mobile@1x.webp") 1x type("image/webp"),
        url("../../images/index/hero-background-mobile@1x.jpg") 1x type("image/jpg")
      );
    background-repeat: no-repeat;
    background-size: auto 302px;
    background-position: top center;
  }

  @media (min-resolution: 2dppx) and (max-width: calc($tablet-width - 1px)) {
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/index/hero-background-mobile@2x.webp") 2x type("image/webp"),
        url("../../images/index/hero-background-mobile@2x.jpg") 2x type("image/jpg")
      );
  }

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    display: block;
    width: 50vw;
    height: 694px;
    content: "";
    background-color: #515056;
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/index/hero-background-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/index/hero-background-desktop@1x.jpg") 1x type("image/jpg")
      );
    background-repeat: no-repeat;
    background-position: top left;
  }

  @media (min-resolution: 2dppx) and (min-width: $desktop-width) {
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/index/hero-background-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/index/hero-background-desktop@2x.jpg") 2x type("image/jpg")
      );
  }
}

.hero__title {
  grid-area: hero-title;
  margin: 0 0 25px;
  line-height: 100%;
  letter-spacing: -0.95px;

  @media screen and (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 40px;
    text-align: start;
    letter-spacing: -1.35px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 50px;
    padding-top: 80px;
  }
}

.hero__subtitle {
  grid-area: hero-subtitle;
  margin: 0 0 29px;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    margin-left: 90px;
    margin-bottom: 21px;
    font-size: 20px;
    text-align: start;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 50px;
    margin-bottom: 52px;
  }
}

.hero__button {
  grid-area: hero-button;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    align-self: start;
    width: 242px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
  }

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    grid-area: hero-image;
    z-index: 1;
    margin-top: 28px;
    margin-left: 90px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 50px;
  }
}

.hero__image {
  grid-area: hero-image;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    margin-bottom: 3px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-top: -1px;
    margin-right: -2px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: -163px;
  }
}

.hero__image img {
  display: block;
}
