.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-nav__toggle {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 6px;
    width: 25px;
    height: 2px;
    background-color: #000000;
    box-shadow: none;
  }

  &::before {
    transform: rotate(46deg);
  }

  &::after {
    transform: rotate(-46deg);
  }
}

.main-nav__list {
  width: 100vw;

  @media screen and (min-width: $tablet-width) {
    width: 500px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 975px;
  }
}
