.main-footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 20px;
  background-color: $site-secondary-bg;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 60px;
    padding: 57px 30px 56px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding: 66px 110px;
  }
}

.main-footer::after {
  @media screen and (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: calc((100vw - 100%) / -2);
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100%;
    content: "";
    background-color: $site-secondary-bg;
  }
}

.main-footer__link {
  @media screen and (max-width: calc($tablet-width - 1px)) {
    margin: 0 auto 20px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__link img {
  display: block;
  min-width: 128px;
  min-height: 25px;
}

.main-footer__social-list {
  width: 100%;
}

.main-footer__studio {
  width: 100%;
  padding-top: 20px;

  @media screen and (min-width: $tablet-width) {
    width: 168px;
    padding-top: 0;
  }
}
