.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-content: center;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $text-font;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray-text-4;
  background-color: $site-bg;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    overflow-x: hidden;
  }
}
