.product-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  padding: 20px 20px 26px;
  font-size: 12px;
  line-height: 16px;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    grid-template-columns: 1fr 1fr;
    gap: 14px 0;
  }

  @media screen and (min-width: $tablet-width) {
    grid-template-rows: auto auto 1fr auto;
    gap: 19px;
    padding: 10px 37px 40px;
    font-size: 16px;
    line-height: 20px;
    background-image: linear-gradient(transparent 81px, $site-secondary-bg 81px);
  }

  @media screen and (min-width: $desktop-width) {
    gap: 12px;
  }
}

.product-card__image {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 107px;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  @media screen and (min-width: $tablet-width) {
    height: 210px;
    margin-bottom: 2px;
  }
}

.product-card__title {
  margin: 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray-text-2;
  text-transform: uppercase;
  letter-spacing: -0.5px;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.product-card__parameters-list {
  @media screen and (max-width: calc($tablet-width - 1px)) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 3px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.product-card__parameters-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet-width) {
    padding-top: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__link-button {
  width: 100%;
  font-size: 16px;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-top: 1px;
  }
}
