.program {
  display: grid;
  grid-template: auto 1fr auto/ 50px 1fr;
  grid-template-areas:
    "program-icon        program-title"
    "program-description program-description"
    "program-link        program-link";
  gap: 22px 20px;
  padding: 24px 20px 21px;
  background-color: $site-secondary-bg;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    grid-template-columns: 1fr 200px;
    gap: 24px 53px;
    grid-template-areas:
      "program-title       program-icon"
      "program-description program-icon"
      "program-link        program-icon";
    padding: 77px 63px 53px 52px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 100px 1fr;
    gap: 23px 62px;
    padding: 59px 61px 55px 52px;
  }
}

.program__title {
  grid-area: program-title;
  align-self: center;
  margin: 0;
  font-family: $title-font;
  font-size: 24px;
  line-height: 37px;
  color: $dark-text;
  text-transform: uppercase;
  letter-spacing: -0.7px;

  @media screen and (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
  }

  @media screen and (min-width: $desktop-width) {
    align-self: start;
    margin-top: 18px;
  }
}

.program__icon {
  grid-area: program-icon;
  align-self: center;
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: $primary-decoration-color;
  border-radius: 50%;
  overflow: visible;

  @media screen and (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    margin-top: -12px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.program__icon::before {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.program__icon--slim::before {
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#slim-icon");
  transform: translate(7px, -3px);

  @media screen and (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    transform: translate(30px, -11px);
  }

  @media screen and (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    transform: translate(15px, -7px);
  }
}

.program__icon--pro::before {
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#pro-icon");
  transform: translateX(-8px);

  @media screen and (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    transform: translate(-34px, 43px);
  }

  @media screen and (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    transform: translate(-18px, 20px);
  }
}


.program__description {
  grid-area: program-description;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    min-height: 120px;
    color: $dark-text;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 72px;
    margin-top: 16px;
  }
}

.program__link {
  grid-area: program-link;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  font-family: $title-font;
  font-size: 16px;
  line-height: 100%;
  color: $dark-text;
  text-transform: uppercase;
  letter-spacing: 0.1px;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    padding-top: 19px;
    border-top: 1px solid #d9d9d9;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    min-width: 165px;
    min-height: 38px;
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 168px;
  }

  &:active {
    opacity: 0.3;
  }
}

.program__link::after {
  display: block;
  width: 32px;
  height: 12px;
  margin-left: 16px;
  content: "";
  mask-image: url("../../icons/stack.svg#icon-arrow");
  mask-repeat: no-repeat;
  mask-position: -8px 50%;
  mask-size: contain;
  background-color: #000000;

  @media screen and (min-width: $tablet-width) {
    margin-left: 26px;
  }
}

.program__link:hover::after {
  mask-position: 0 50%;
}
