.show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: end;
  color: $dark-gray-text-4;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    padding: 25px 20px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 50px 32px 40px;
    border: 2px solid #d3d3d3;
  }
}

.show-more__icon {
  position: relative;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;

  @media screen and (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.show-more__icon::before,
.show-more__icon::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #d3d3d3;
}

.show-more__icon::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

.show-more__icon::after {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

.show-more__title {
  margin: 0 0 8px;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.45px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.show-more__text {
  margin: 0 0 21px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    min-height: 97px;
    font-size: 16px;
    line-height: 18px;
  }

  @media screen and (min-width: $desktop-width) {
    min-height: 105px;
  }
}

.show-more__button {
  width: calc(100% - 8px);
  color: $dark-gray-text-4;
  background-color: $site-secondary-bg;
  letter-spacing: 0.9px;

  @media screen and (min-width: $tablet-width) {
    letter-spacing: 0.3px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $dark-gray-text-4;
    background-color: #ebebeb;
  }
}
