.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  list-style: none;

  @media screen and (min-width: $mobile-width) and (max-width: calc($tablet-width - 1px)) {
    padding: 19px 0;
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;
}

.social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item:hover .social__link,
.social__item:focus .social__link {
  fill: #68b738;
}

.social__item:active {
  opacity: 0.3;
}
